name: CI

on: [push, pull_request]

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Dockerfile lint
        uses: docker://replicated/dockerfilelint:09a5034
        with:
          args: Dockerfile

      - name: Docker build
        run: docker build . --file Dockerfile --tag image

      - name: Docker run
        run: docker run --entrypoint cdk image --version
